@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Heading and logo*/

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    float: left;
    font-size: 280%;
    color: red;
    
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;

}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
} 

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}    

#cover-text, #cover-text h2 {
    color: #fff;
}



#hero-image {
    width: 100%;
    background:url('../images/landing.page.jpg') no-repeat center center;
    max-height: fit-content;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
    

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(1.1);

    }
}

#cover-text {
    font-size: 130%;
    font-family: Roboto , sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}


#middle-part {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: green;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: white;
}

#important {
    text-align: center;
    margin: 50px 0;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}